<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/style/writingList/writingList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>



<div class="home">
    <nav>
        <div>

        </div>
        <div>

        </div>
        <div>
            <div class="info">Anvar</div>
            <div class="info">Anvarov</div>
            <img src="/img/user.png" alt="">
        </div>
    </nav>
    <main>
        <div class="writingList">
            <div class="writingList-nav">
                <div class="writingList-nav__container">
                    <div class="writingList-nav__content">
                        <a href="">Writing list</a>
                    </div>
                </div>
            </div>
            <div class="writingList-content">
                <a class="writingList-content__item">
                    <div class="header">
                        <span>Elementary</span>
                        <span>Task 1</span>
                    </div>

                    <div class="main">
                        <h1 class="title">
                            Hello world
                        </h1>
                        <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Adipisci aspernatur beatae corporis cum deleniti, dolorem ducimus eaque eum ex fuga laborum
                            laudantium libero magni necessitatibus nesciunt quo quod sint sunt!
                        </p>
                    </div>
                </a>
                <a class="writingList-content__item">
                    <div class="header">
                        <span>Elementary</span>
                        <span>Task 1</span>
                    </div>

                    <div class="main">
                        <h1 class="title">
                            Hello world
                        </h1>
                        <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Adipisci aspernatur beatae corporis cum deleniti, dolorem ducimus eaque eum ex fuga laborum
                            laudantium libero magni necessitatibus nesciunt quo quod sint sunt!
                        </p>
                    </div>
                </a>
                <a class="writingList-content__item">
                    <div class="header">
                        <span>Elementary</span>
                        <span>Task 1</span>
                    </div>

                    <div class="main">
                        <h1 class="title">
                            Hello world
                        </h1>
                        <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Adipisci aspernatur beatae corporis cum deleniti, dolorem ducimus eaque eum ex fuga laborum
                            laudantium libero magni necessitatibus nesciunt quo quod sint sunt!
                        </p>
                    </div>
                </a>
                <a class="writingList-content__item">
                    <div class="header">
                        <span>Elementary</span>
                        <span>Task 1</span>
                    </div>

                    <div class="main">
                        <h1 class="title">
                            Hello world
                        </h1>
                        <p class="desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Adipisci aspernatur beatae corporis cum deleniti, dolorem ducimus eaque eum ex fuga laborum
                            laudantium libero magni necessitatibus nesciunt quo quod sint sunt!
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>


<script src="/js/subject.js"></script>


</body>
</html>