<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>My subjects</title>
    <link rel="stylesheet" href='../../static/css/subject/subject.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>

<div class="home">
    <nav>
        <div>

        </div>
        <div>

        </div>
        <div>
            <div class="info">Begzod</div>
            <div class="info">Jumaniyozov</div>
            <img src="../../static/img/user.png" alt="">
        </div>
    </nav>
    <main>
        <div class="subject">
            <div class="subject-nav">
                <div class="subject-nav__header">

                    <div>{{ subject.name }}</div>
                    <div>0%</div>
                </div>
                {% for lev in level %}
                    <a href="{{ url_for("my_lesson_level", level_id=lev.id) }}">{{ lev.name }}</a>
                {% endfor %}
                <div class="subject-nav__container">
                    <div class="subject-nav__content">
                        <div class="subject-nav__content-title active">
                        <span>
                            Darsliklar :
                        </span>
                            <span>
                            <i class="fa-solid fa-caret-down"></i>
                        </span>
                        </div>

                        <ol class="subject-nav__content-container  ">
                            {% for les in lesson_list %}
                                <a href="{{ url_for("lesson_info", lesson_id=les.id) }}">
                                    <li class="subject-nav__content-item">
                                        {#                                    <a href="{{ url_for("my_lesson", lesson_id=lesson.id) }}">#}

                                        <span>
                                              {{ les.title }}
                                        </span>
                                        <span>
                                            0%
                                        </span>

                                        {#                                    </a>#}
                                    </li>
                                </a>
                            {% endfor %}

                        </ol>
                    </div>
                </div>
            </div>
            <div class="subject-content">

                <video controls src="">
                    <source src=""
                            type="video/mp4">
                </video>
                <div class="title">{{ info.title }}</div>
                <div class="desc">
                    <div>{{ info.desc }}</div>
                </div>

                <div class="exam">
                    <form action="{{ url_for("lesson_info", lesson_id=info.id) }}" method="post">
                        <h1 class="exam-title">Topshiriqlar.</h1>
                        {% for question in info.exercises %}
                            <h1>1. {{ question.desc }}</h1>
                            {% for ans in question.exercises_variants %}
                                <label for="input1">
                                    <span>{{ loop.index }}</span>
                                    <input class="var" data-id="{{ ans.id }}" type="radio" name="test" id="input1">
                                    <span>{{ ans.desc }}</span>
                                </label>

                            {% endfor %}

                            <div class="input-submit">
                                <input class="inp" type="text" name="id" hidden>
                                {% if question.finished %}
                                    <input disabled type="submit" value="Tekshirmoq">
                                {% else %}
                                    <input type="submit" value="Tekshirmoq">
                                {% endif %}
                            </div>
                        {% endfor %}


                    </form>
                </div>

                <div class="location">
                    <a href="">
                        <div class="prev">Oldingi</div>
                    </a>
                    <a href="">
                        <div class="next">Keyingi</div>
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>


<script src="../../static/js/subject.js"></script>
</body>
</html>