<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .all_questions {
            width: 200px;
            height: 50px;
            border: 2px solid black;
            text-decoration: none;
        }
    </style>
</head>
<body>

{% for question in questions %}
    <div class="all_questions">
        <a href="{{ url_for('answer_comment', question_id=question.id) }}">{{ question.question }}</a>
    </div>
{% endfor %}




</body>
</html>