* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header nav {
    background-color: #02C0FC;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 10px;
}

.hamburger {
    display: flex;
    flex-direction: column;
}

.hamburger span {
    width: 36px;
    background-color: #ffffff;
    display: block;
    margin: 2px;
    height: 4px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user-name-surname {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-right: 20px;
}

.user-photo {
    border: 1px solid;
    width: 41px;
    height: 41px;
    border-radius: 50%;
}

.subjects {
    display: flex;
}

.subject-info {
    display: flex;
    align-items: center;
    height: 400px;
    padding: 0 10px 0 10px;
}

.subject-menu {
    background: #737373;
    width: 20%;
    height: 100vh;
    position: relative;
    left: -400px;
    transition: 1s all;
    padding: 35px 0 0 40px;

}

.active {
    left: 0;
}

.subject__title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.subject__list {
    list-style: none;

}

.subject__list li {
    margin-top: 25px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.68);

}

.info__img {
    position: relative;
    overflow: hidden;

}

.subject-percent-item {
    width: 100%;
    height: 100%;
    background: rgba(2, 192, 252, 0.41);
    position: absolute;
    top: 20px;

}

.subject-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4D4D4D;
    border-top: 5px solid #FFFFFF;
    height: 82px;
    padding: 0 10px 0 10px;
}

.subject-name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}

.subject-percent {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}