<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for student in group.student %}
    <h1>{{ student.user.name }} {% for course in student.studentcourse %} {% if group.course_id == course.id %}
        {{ course.percentage }} {% endif %}{% endfor %}</h1>
{% endfor %}

<form action="{{ url_for("students", group_id=group_id) }}" method="post">
    <select name="level" id="">
        {% for lev in levels %}
            <option value="{{ lev.id }}">{{ lev.name }}</option>
        {% endfor %}
    </select>
    <button>sumbit</button>
</form>
</body>
</html>